.swiper-button-prev,
.swiper-button-next {
  color: #ed078b !important;
  background: white;
  padding: 8px !important;
  border: #f7a2d2 1px solid;
  border-radius: 100%;
  border-color: #ed078959 !important;
  margin: 2px !important;
  transition: 0.2s all ease-in-out;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #ffffffd2;
}
* {
  /* font-family: Times New Roman (serif); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
