@import "tailwindcss";

@layer components {
  .container {
    @apply md:max-w-6xl  sm:max-w-4xl  mx-auto px-10 md:px-6 overflow-hidden;
  }
}

@theme {
  --color-primary: #ed078b;
  --color-secondary: #1bd8dd;
  --color-primary-blue: #4255a4;
  --color-primary-yellow: #fbce0f;
  --color-secondary-blue: #423f8d;
  --color-primary-cyan: #19dcdd;
  --color-dark-blue: #2596be;

  --font-primary: Concert One;
  --font-serif: Young Serif;
}
